# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# build outputs
android/
ios/

# environment
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
